  <aside class="filter-container">
    
  <div class="filter-input-container">
    <label for="filter-city">City</label>
    <select id="filter-city" class="filter-input" name="filter-city">
      <option selected value="">Any</option>
      <option>Corvallis</option>
      <option>Albany</option>
      <option>Eugene</option>
      <option>Portland</option>
      <option>Salem</option>
      <option>Bend</option>
    </select>
  </div>

  <div class="filter-input-container">
    <fieldset id="filter-condition" class="filter-fieldset">
      <legend>Condition</legend>
      <div>
        <input type="checkbox" name="filter-condition" id="filter-condition-new" value="new">
        <label for="filter-condition-new">New</label>
      </div>
      <div>
        <input type="checkbox" name="filter-condition" id="filter-condition-excellent" value="excellent">
        <label for="filter-condition-excellent">Excellent</label>
      </div>
      <div>
        <input type="checkbox" name="filter-condition" id="filter-condition-good" value="good">
        <label for="filter-condition-good">Good</label>
      </div>
      <div>
        <input type="checkbox" name="filter-condition" id="filter-condition-fair" value="fair">
        <label for="filter-condition-fair">Fair</label>
      </div>
      <div>
        <input type="checkbox" name="filter-condition" id="filter-condition-poor" value="poor">
        <label for="filter-condition-poor">Poor</label>
      </div>
    </fieldset>
  </div>

  <button id="filter-update-button" class="action-button">Update</button>

</aside>